@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

* {
    font-family: "Montserrat";
    /* font-weight: 500; */
    margin: 0;
}

.logo img {
    width: 90px;
    height: 53px;
    float: left;
    padding: 0 0 0 375px;
}

.navbar {
    padding: 35px 375px 35px 0;
}

.nav ul {
    list-style: none;
    padding-top: 15px;
    float: right;
    display: flex;
    justify-content: right;
}

.nav li {
    padding-left: 75px;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;

}

ul {
    padding-left: 0;
}

.header {
    margin: 125px 375px 0 375px;
    display: flex;
}

.infoPodzagolowok {
    align-self: center;
}

.zagolowok p {
    font-weight: 800;
    font-size: 60px;
}

.podzagolowok p {
    margin: 40px 0 0 0;
    font-size: 12px;
    line-height: 30px;
}

.btn_sendMessage {
    margin: 45px 0 0 0;
}

.btn_sendMessage a {
    display: inline-block;
    /* padding: 12.5px 45px; */
    width: 180px;
    /* height: 50px; */
    text-align: center;
    padding: 15.5px 0;
    background-color: #ffe100;
}

.pictureBuild {
    /* outline: 1px solid black; */
    background-color: #edf2f6;
    padding: 270px 285px;
}