@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

* {
    font-family: "Montserrat";
    /* font-weight: 500; */
    margin: 0;
    /* outline: 1px solid black; */
}




/* Navbar */

.navbar {
    padding: 35px 375px 35px 375px;
    display: flex;
    justify-content: space-between;
    background-color: #fdfdfd;
}

.logo img {
    width: 90px;
    height: 53px;
}

.nav ul {
    list-style: none;
    padding-top: 15px;
    display: flex;
    justify-content: right;
}

.nav li {
    padding-left: 75px;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding-left: 0;
}

.nav a:hover {
    color: #ffe100;
    transition: color .1s linear;
}



/* Header */

.header {
    margin: 125px 375px 0 375px;
    display: flex;
}

.header_info {
    align-self: center;
}

.header_header p {
    font-weight: 800;
    font-size: 60px;
}

.subtitle_header p {
    margin: 40px 0 0 0;
    font-size: 12px;
    line-height: 30px;
}

.btn_sendMessage {
    margin: 45px 0 0 0;
}

.btn_sendMessage a {
    display: inline-block;
    width: 180px;
    text-align: center;
    padding: 15.5px 0;
    background-color: #ffe100;
}

.pictureBuild {
    background-color: #edf2f6;
    padding: 270px 285px;
}




/* Rortfolio */

.portfolio {
    padding: 125px 375px 0 375px;
}

.header_workShowcase {
    margin-bottom: 70px;
}

.header_workShowcase p {
    font-weight: 800;
    font-size: 60px;
}

.nav_filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: 20px;
}

nav li {
    margin-right: 55px;
}

nav li:hover {
    background-color: #ffe100;
    transition: background-color .1s linear;
    cursor: pointer;
}

.filter {
    display: flex;
    justify-content: left;
}

.filter a {
    margin-right: 12px;
}

.arrow img{
    width: 14px;
    height: 11px;
}




/* Image filter */

.image_filter {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: 300px;
}

.image_portfolio {
    background-color: #edf2f6; 
}

.image1 {
    grid-column: 1;
    grid-row: 1;
    height: 300px;
}

.image2 {
    grid-column: 1;
    grid-row: 2 / 3;
    height: 500px;
}

.image3 {
    grid-column: 2;
    grid-row: 1;
    height: 500px;
}

.image4 {
    grid-column: 2;
    grid-row: 2 / 3;
    height: 300px;
    align-self: end;
}

.image5 {
    grid-column: 3;
    grid-row: 1;
    height: 300px;
}

.image6 {
    grid-column: 3;
    grid-row: 2 / 3;
    height: 500px;
}

.background_hover {
    background-color: #ffe100;
    width: 370px;
    height: 300px;
    text-align: center;
}

.artwork {
    font-weight: 800;
    font-size: 30px;
    padding: 105px 0 35px 0;
}

.btn_showMeMore {
    margin: 65px 0 0 0;
    display: flex;
    justify-content: center;
}

.btn_showMeMore a {
    display: inline-block;
    width: 180px;
    text-align: center;
    padding: 15.5px 0;
    background-color: #ffe100;
}




/* Partners */

.images_partners {
    background-color: #fdfdfd;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    height: 335px;
    align-items: center;
    padding-left: 375px;
    padding-right: 375px;
}

.images_partners img {
    max-height: 104px;
}

.partner1 img {
    width: 140px;
}

.partner2 img {
    width: 95px;
}

.partner3 img {
    width: 100px;
}

.partner4 img {
    width: 95px;
}

.partner5 img {
    width: 100px;
}

.partner6 img {
    width: 95px;
}





/* About */

.about {
    padding-top: 125px;
    margin: 0 375px 125px 375px;
}

.header_aboutUs p {
    font-weight: 800;
    font-size: 60px;
}

.subtitle_aboutUs p {
    margin: 40px 0 40px 0;
    font-size: 12px;
    line-height: 30px;
}

.persones {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.persone1 {
    background-color: #edf2f6;
    width: 370px;
    height: 420px;
    display: flex;
    align-items: flex-end;
}

.path_persone1 {
    background-color: #ffe100;
    width: 250px;
    height: 70px;
}

.name_persone1 p {
    font-weight: 800;
    font-size: 15px;
    margin: 15px 0 5px 25px;
}

.webDes_persone1 p {
    color: #ffffff;
    font-size: 12px;
    margin-left: 25px;
}

.persone2 {
    background-color: #edf2f6;
    width: 370px;
    height: 420px;
    display: flex;
    align-items: flex-end;
}

.path_persone2 {
    background-color: #ffe100;
    width: 250px;
    height: 70px;
}

.name_persone2 p {
    font-weight: 800;
    font-size: 15px;
    margin: 15px 0 5px 25px;
}

.webDes_persone2 p {
    color: #ffffff;
    font-size: 12px;
    margin-left: 25px;
}

.header_info_about p {
    font-weight: 800;
    font-size: 20px;
}

.subtitle_info_about {
    margin: 45px 0 45px 0;
}

.subtitle_info_about p {
    font-size: 12px;
    line-height: 30px;
}

.btn_info_about a {
    font-size: 12px;
}




/* Blog */

.blog {
    background-color: #fdfdfd;
    padding: 120px 375px 120px 375px;
}

.header_blog p {
    font-weight: 800;
    font-size: 60px;
}

.subtitle_blog p {
    margin: 40px 0 40px 0;
    font-size: 12px;
    line-height: 30px;
}

.article_blog {
    display: flex;
    column-gap: 30px;
}

.image_blog {
    background-color: #edf2f6;
    width: 370px;
    height: 280px;
}

.hover_blog {
    background-color: #ffe100;
    width: 370px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover_blog a {
    font-weight: 800;
    font-size: 30px;
}

.article_text_blog {
    background-color: #ffffff;
    padding: 25px 0;
}

.header_article_blog p {
    font-weight: 800; 
    font-size: 15px;
    margin-bottom: 25px;
}

.sibtitle_article_blog p {
    font-size: 12px;
    line-height: 30px;
    margin-bottom: 10px;
}

.data_article_blog p {
    font-size: 12px;
}



/* Contact Us */

.contact {
    padding-top: 120px;
    margin: 0 375px 75px 375px;
}

.header_contact p {
    font-weight: 800;
    font-size: 60px;
}

.subtitle_contact p {
    margin: 40px 0 40px 0;
    font-size: 12px;
    line-height: 30px;
}

.sendUsMessage {
    display: flex;
    column-gap: 30px;
    margin-bottom: 70px;
}

.header_sendUsMessange {
    margin: 40px 0 35px 0;
}

.header_sendUsMessange p {
    font-weight: 800;
    font-size: 30px;
}

.input input, textarea {
    border: none;
    background-color: #edf2f6;
}

.input_name input, .input_email input{
    padding: 0 0 0 18px;
    width: 552px;
    height: 45px;
    margin-bottom: 12px;
}

.input_message textarea{
    width: 552px;
    height: 123px;
    resize: none;
    padding: 12px 0 0 18px;
}

.input_flex .btn_sendMessage {
    margin-top: 15px;
}

.image_contact {
    background-color: #edf2f6;
    width: 570px;
    height: 470px;
}

.info_contact {
    display: flex;
    justify-content: center;
    column-gap: 135px;
    margin-bottom: 75px;
}

.adress img {
    width: 23px;
    height: 28px;
    margin: 0 0 10px 55px;
}

.phone img {
    width: 18px;
    height: 28px;
    margin: 0 0 10px 40px;
}

.email img {
    width: 27px;
    height: 26px;
    margin: 0 0 10px 48px;
}

.info_contact p {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

.info_socialNetwork {
    display: flex;
    justify-content: center;
    column-gap: 70px
}

.facebook img {
    height: 30px;
}

.twitter img {
    height: 30px;
}

.instagram img {
    width: 30px;
    height: 30px;
}



/* Footer */

.footer {
    background-color: black;
    color: white;
    font-size: 11px;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-messange_footer {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.logo_footer img {
    width: 90px;
    height: 52px;
}

.backToTop {
    display: flex;
    align-items: center;
    column-gap: 6px;
    cursor: pointer;
}

.backToTop img {
    width: 11px;
    height: 7px;
}





/* Sticky Navbar */

.sticky {
    position: sticky;
    top: 0;
}




/* Filter work showcase */

.hide {
    opacity: 1;
    animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes a1 {
    to {
        opacity: 0;
        min-height: 0;
        min-width: 0;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 0;
        font-weight: 0;
    }
}